.header-policy{
    border: 10px;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-top: -2px;
    background-color: #17A2B8;

}

.policy{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background: -webkit-linear-gradient(#267eaa, #0b556f);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 30px;
padding-right: 80%;



}


.definition{
    margin: auto;
    width: 520px; 
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: justify;
  }

  .def1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
  }
  .subject{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    padding: 18px;
  }